
body {
	padding-top: 0px;
	padding-bottom: 0px;
}

.navbar-inverse {
	background-color: #007cae;
	border-color: #007cae;
}
.navbar {
	border-radius: 0px !important;
}
.navbar-inverse .navbar-brand {
	color: #FFFFFF;
}

.navbar-nav>li>a  {
	color: white !important;
	/*text-decoration: underline;*/
}

.navbar-nav>li>p  {
	color: white !important;
}

.img-item {
	width: 150px;
	height: 150px;
}

.img-item-cart {
	width: 100px;
	height: 100px;
}

.img-top {
	width: 110px;
	height: 110px;
}

#btn_addtocart{
	text-align: center;
	ali
}

.jumbotron h1{
	font-family: monospace;
	font-weight: 100;
}

.jumbotron p{
	font-weight: 100;
	font-style: 30px;
}

.jumbotron{
	background-color: white;
	padding-top: 15px;
	padding-bottom: 15px;
}

.row {
	padding-bottom: 50px;
}

.badge{
	background-color: red;
}

.btn-group-lg>.btn, .btn-lg {
	border-radius: 0px;
}

.quantity {
	font-weight: 600;
}

/* added div for related products in */
#related_products {
	color: #3300CC;
}

/* css of cart.html file*/
.fa.fa-cc-paypal {
	color: #253b80;
}
.fa.fa-cc-mastercard {
	color: #0a3a82;
}

.fa.fa-cc-visa {
	color: #0157a2;
}
.fa.fa-credit-card {
	color: #DF3A01;
}
.fa.fa-money {
	color: #04B404;
}

a.span_download {
	padding-left: 300px;
	color: #0B0B61;
}


.div_added{
	background-color: #F0F0F0 ;
	margin-bottom: 40px;
	margin-top: 20px; 
	padding-bottom: 20px;
}