<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="../../favicon.ico">

	<title>Base with bootstrap</title>

  <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">
  <link href="{% static 'css/jumbotron.css'%}" rel="stylesheet">  
  <link href="{% static 'css/main.css'%}" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">      

  <style>
  </style>

  <script src="http://getbootstrap.com/assets/js/ie-emulation-modes-warning.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    </head>

    <body>

      {% block content %}

      {% endblock%}

      <div class="container">

        <hr>
        <footer>
         <p>&copy; Demo Shopping Cart 2015</p>
       </footer>
     </div> <!-- /container -->

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
  </html>
