{% extends "base.html" %}

{% load staticfiles %}

{% block content %}

<style>

	li {
		width: 155px;
	}

	span{
		font-size: inherit;
		font-weight: bolder;
		padding-left: 46px;
	}

</style>

<script>

	$(document).ready(function(){

		$("#form-payment").submit (function(){

			$("#waitme").show()
			window.setTimeout(function(){

				$("#waitme").hide()

			},3000);
		});
	});		

</script>

<nav class="navbar navbar-inverse">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href = "/" class="navbar-brand"> <i class="fa fa-hand-o-left"></i> </a>
		</div> 	

		<div id="navbar" class="navbar-collapse collapse">

			<ul class="nav navbar-nav navbar-right">
				<li>
					<a href="#"><i class="fa fa-sign-in"></i> Sign in </a>
				</li>
				<li>
					<a href="#"><i class="fa fa-user-plus"></i> Sign up </a>
				</li>
				<li>
					<a href="#"> Products <i class="fa fa-cart-plus fa-1x" ></i> <span class="badge">{{total_products}}</span> </a>
				</li>
				<li>
					<a href="#"> Total price <span class="badge"> {{total_price}} €</span></a>
				</li>

			</ul>
		</div>
	</div>
</nav>

<div class="jumbotron">
	<div class="container">

		<div class="col-sm-6">
			<h1> Items in Cart </h1>

			<p> List all of items in your cart </p>
			<div id = "waitme" style = "display: none">
				<i  class="fa fa-spinner fa-pulse fa-5x"></i>
				<p> please wait ... </p>
			</div>

		</div>

		<div class="col-sm-6">
			<div class="col-sm-12">
				<br>
				<i class="fa fa-cc-paypal fa-2x"></i>
				<i class="fa fa-credit-card fa-2x"></i>
				<i class="fa fa-cc-visa fa-2x"></i>
				<i class="fa fa-money fa-2x"></i>
				<i class="fa fa-cc-mastercard fa-2x"></i>
			</div>

			<div class="col-sm-12"> 
				<h4> Please provide following information to complete the payment </h4>
				<br>

				<form id = "form-payment" class="form-horizontal" method="POST" action="sendemail">
					{% csrf_token %}

					<div class="form-group">
						<label for="inputEmail" class="col-sm-2 control-label">Email</label>
						<div class="col-sm-10">
							<input type="email" class="form-control" id="inputEmail" name = "email" placeholder="Email" required>
						</div>
					</div>
					<div class="form-group">
						<label for="inputName" class="col-sm-2 control-label">Name</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="inputName" name = "name" placeholder="Full name" required>
						</div>
					</div>
					<div class="form-group">
						<label for="inputAddress" class="col-sm-2 control-label">Address</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="inputAddress" name = "address" placeholder="Address" required>
							<!-- These hidden inputs are used to send total products and total price to confirmation.html-->
							<input style="display: none" type="text" class="form-control" name = "total_products" value={{total_products}}>
							<input style="display: none" type="text" class="form-control" name = "total_price" value={{total_price}}>
						</div>
					</div>
					<div class="form-group">
						<label for="inputPayment" class="col-sm-2 control-label">Payment</label>

						<div class="col-sm-10">
							<select class="form-control">
								<option>Paypal</option>
								<option>Visa Card</option>
								<option>Master Card</option>
								<option>Bank Transfer</option>
								<option>Direct Debit</option>
							</select>
						</div>

					</div>

					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button id = "btn_submit" type="submit" class="btn btn-primary">Buy now </button>
						</div>
					</div>
				</form>

			</div>

		</div>

	</div>
</div>

<div class="container">
	
	<div class="row">

		{% for cart_item in cart_items %}
		<div class="col-sm-12">
			<img src= {{cart_item.product.url}} class="img-item-cart"> <span> {{cart_item.product.name}}  </span> 

			<ul class="list-group">
				<li class="list-group-item">
					<span class="badge">{{cart_item.quantity}}</span>
					Quantity:
				</li>
				<li class="list-group-item">
					Price: 
					<span >{{cart_item.product.price}} € </span>

				</li>
				<li class="list-group-item">
					Total:
					<span>{{cart_item.total}} €</span>

				</li>
			</ul>

			<hr/>

		</div>

		{% endfor %}

	</div>  <!--of div row-->

</div>

{% endblock %}