{% extends "base.html" %}
<!-- load static here -->
{% load staticfiles %}

{% block content %}

<nav class="navbar navbar-inverse">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand"> Demo Shopping Cart </a>
		</div>

		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a href="itemlist"> CART <i class="fa fa-cart-plus fa-2x" ></i> <span class="badge">0</span> </a>
				</li>
			</ul>
		</div>
	</div>
</nav>

<div class="jumbotron">
	<div class="container">

		<div class="col-sm-6">
			<h1> Welcome to Demo Shop </h1>
			<p> Get acquainted with our newest arrivals! Shop the latest innovations from top brands in ebook, research papers, music recorder, and more.</p>
			<p><a class="btn btn-default btn-block btn-lg" href="#paper" role="button"> See more  &raquo;</a></p>
		</div>
		<div class="col-sm-6">
			<div class="col-sm-3">
				<p>
					<img src="{% static 'img/audio.jpg' %}" class="img-top">
				</p>
			</div>
			<div class="col-sm-3">
				<p>
					<img src="{% static 'img/audio2.jpg' %}" class="img-top">
				</p>
			</div>
			<div class="col-sm-3">
				<p>
					<img src="{% static 'img/audio3.jpg' %}" class="img-top">
				</p>
			</div>
			<div class="col-sm-3">
				<p>
					<img src="{% static 'img/audio_mp3.jpg' %}" class="img-top">
				</p>
			</div>
			<div class="col-sm-3">
				<p>
					<img src="{% static 'img/audio_wma.png' %}" class="img-top">
				</p>
			</div>
			<div class="col-sm-3">
				<p>
					<img src="{% static 'img/pdf_wto_cover.png' %}" class="img-top">
				</p>
			</div>

			<div class="col-sm-3">
				<p>
					<img src="{% static 'img/pdf_cover.png' %}" class="img-top">
				</p>
			</div>
		</div>
	</div>
</div>

<div class="container">

	<h3 id = "paper"> Reseach Papers </h3> 

	<hr/>

	<script>
		$(document).ready(function(){
			$(".btn-danger").click(function(){

				// Update Number of item in cart
				var count = 0;
				count ++;
				$(".badge").text(count);

				// var id = $(this).attr("id");

				// $.get("addtocart", function(data, status){
				// 	alert("Data: " + data + "\nStatus: " + status);
				// });
		});
		});		
	</script>

	<!-- 	<p id="btn_addtocart"><a class="btn btn-danger" href="addtocart/1988/" role="button"> Test Cart </a></p>
	<p> return PRICE value: {{price}} </p>
	<p> return Author value: {{author}} </p>
	<img src= {{url}} class="img-item"> -->

<!-- 	<p id="btn_addtocart"><a id = "{{product_00}}" class="btn btn-danger" href="addtocart/1988/" role="button"> Test Cart </a></p>

	<p> return PRICE value: {{price}} </p>
	<p> return Author value: {{author}} </p>
	<img src= {{url}} class="img-item"> -->

	<div class="row">

		{% for product in list_paper %}
		<div class="col-sm-3">
			<img src= {{product.url}} class="img-item"> 
			<h4> {{product.name}}  </h4> 
			<ul>
				<li> Price: {{product.price}}€</li>
				<li> {{product.author}} </li>
				<li> Year: {{product.year}} </li>
			</ul>
			<form action="addtocart" method="GET">
			Quantity: <input type="number" name="quantity" value="0" min="1" max="9">
					  <input type="hidden" name="product_id" value={{product.product_id}} size="2">  
				<br>
				<br> 
				<input id="btn_addtocart" type="submit" align="right" value="Add to cart">
			</form>

			<!-- <p id="btn_addtocart"><a class="btn btn-sm btn-danger" id = {{product.product_id}} role="button"> Add to cart </a></p> -->

		</div>
		{% endfor %}


	</div>  <!--of div row-->

	{% for product in list_paper1 %}
	<div class="col-sm-3">
		<img src= {{product.url}} class="img-item"> 
		<h4> {{product.name}}  </h4> 
		<ul>
			<li> Price: {{product.price}}€</li>
			<li> {{product.author}} </li>
			<li> Year: {{product.year}} </li>
		</ul>
		<p id="btn_addtocart"><a class="btn btn-sm btn-danger" href= {{product.product_id}} role="button"> Add to cart </a></p>
	</div>
	{% endfor %}

	<h3 id = "audio"> Audio Recordings  </h3> 

	<hr/>

	<div class="row">
		
		{% for product in list_audio %}
		<div class="col-sm-3">
			<img src= {{product.url}} class="img-item"> 
			<h4> {{product.name}}  </h4> 
			<ul>
				<li> Price: {{product.price}}€</li>
				<li> {{product.author}} </li>
				<li> Year: {{product.year}} </li>
			</ul>
			<p id="btn_addtocart"><a class="btn btn-sm btn-danger" href="#" role="button"> Add to cart </a></p>
		</div>
		{% endfor %}

	</div>

</div>

{% endblock %}

